<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device=width, initial-scale=1' />
  <title>First Things First 2014</title>
  <link href='css/app.min.css' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Lora:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  {{> header}}

  <section class='o-container u-pt4 u-pb4'>
    <div class='o-row o-row--center'>
      <div class='o-col-oneWhole _md-o-col-threeQuarters _lg-o-col-twoThirds'>
        <p>
        This website archives for posterity an independent reboot of <a href='http://www.designishistory.com/1960/first-things-first/'>the First Things First manifesto</a>, published initially in 1964, and subsequently <a href='http://www.eyemagazine.com/feature/article/first-things-first-manifesto-2000'>reimagined and republished in 1999</a>.
        </p>
        <p>
          This most recent edition was published online in March of 2014, and was made available for all interested parties to sign. It remained open for nearly two years, attracting over 1,600 signatories to its call for a more humanist approach to design and technology.
        </p>
        <p>
          Further details follow the manifesto’s text below.
        </p>

        <hr class='a-hr u-mt4 u-mb4' />
        
        <article>
          <p>
            <span class='a-dropcap u-pr1 u-pb1 _lg-u-pr2 _lg-u-pb2 s-red-500'>W</span>e, the undersigned, are designers, developers, creative technologists, and multi-disciplinary communicators. We are troubled by the present state of our industry and its effects on cultures and societies across the world.
          </p>
          <p>
            We have become part of a professional climate that:
          </p>
          <ul>
            <li>prizes venture capital, profit, and scale over usefulness and resonance;</li>
            <li>demands a debilitating work-life imbalance of its workers;</li>
            <li>lacks critical diversity in gender, race, and age;</li>
            <li>claims to solve problems but favours those of a superficial nature;</li>
            <li>treats consumers’ personal information as objects to be monetised instead of as personal property to be supported and protected; and</li>
            <li>refuses to address the need to reform policies affecting the jurisdiction and ownership of data.</li>
          </ul>
          <p>
            Encouraged in these directions, we have applied ourselves toward the creation of trivial, undifferentiated apps; disposable social networks; fantastical gadgets obtainable only by the affluent; products that use emotion as a front for the sale of customer data; products that reinforce broken or dishonest forms of commerce; and insular communities that drive away potential collaborators and well-grounded leaders. Some of us have lent our expertise to initiatives that abuse the law and human rights, defeat critical systems of encryption and privacy, and put lives at risk. We have negated our professions’ potential for positive impact, and are using up our time and energy manufacturing demand for things that are redundant at best, destructive at worst.
          </p>
          <p class='u-mt4'>
            <span class='a-dropcap u-pr1 u-pb1 _lg-u-pr2 _lg-u-pb2 s-red-500'>T</span>here are pursuits more worthy of our dedication. Our abilities can benefit areas such as education, medicine, privacy and digital security, public awareness and social campaigns, journalism, information design, and humanitarian aid. They can transform our current systems of finance and commerce, and reinforce human rights and civil liberties.
          </p>
          <p>
            It is also our responsibility as members of our industry to create positive changes within it. We must work to improve our stances on diversity, inclusion, working conditions, and employees’ mental health. Failing to address these issues should no longer be deemed acceptable by any party.
          </p>
          <p>
            Ultimately, regardless of its area of focus or scale, our work and our mindset must take on a more ethical, critical ethos.
          </p>
          <p>
            It is not our desire to take the fun out of life. There should always be room for entertainment, personal projects, humour, experimentation, and light-hearted use of our abilities.
          </p>
          <p>
            Instead, we are calling for a refocusing of priorities, in favour of more lasting, democratic forms of communication. A mind shift away from profit-over-people business models and the placing of corporations before individuals, toward the exploration and production of humble, meaningful work, and beneficial cultural impact.
          </p>
          <p class='u-mt4'>
            <span class='a-dropcap u-pr1 u-pb1 _lg-u-pr2 _lg-u-pb2 s-red-500'>I</span>n 1964, and again in 1999, a dedicated group of practitioners signed their names to earlier iterations of this manifesto, forming a call to put their collective skills to worthwhile use.
          </p>
          <p>
            With the unprecedented growth of technology over the past 15 years, their message has since grown only more urgent.
          </p>
          <p>
            Today, in celebration of its 50th anniversary, we renew and expand the First Things First manifesto, with the hope of catalysing a meaningful revolution in both our industry and the world at large.
          </p>
        </article>
      </div>
    </div>
  </div>
</body>
</html>
