<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device=width, initial-scale=1' />
  <title>First Things First 2014</title>
  <link href='css/app.min.css' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Lora:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  {{> header}}

  <section class='o-container u-pt4'>
    <div class='o-row o-row--center'>
      <div class='o-col-oneWhole _md-o-col-threeQuarters _lg-o-col-twoThirds'>
        <p>
        This website archives for posterity an independent reboot of <a href='http://www.designishistory.com/1960/first-things-first/'>the First Things First manifesto</a>, published initially in 1964, and subsequently <a href='http://www.eyemagazine.com/feature/article/first-things-first-manifesto-2000'>reimagined and republished in 1999</a>.
        </p>
        <p>
          This most recent edition was published online in March of 2014, and was made available for all interested parties to sign. It remained open for nearly two years, attracting over 1,600 signatories to its call for a more humanist approach to design and technology.
        </p>
        <p>
          Further details follow the manifesto’s text and signatories below.
        </p>

        <hr class='a-hr u-mt4 u-mb4' />
        
        {{> manifesto}}

        <hr class='a-hr u-mt4 u-mb4' />
      </div>
    </div>
  </section>

  {{> signatories}}

</body>
</html>
