<section>
<div class='o-container'>
  <div class='o-row o-row--center'>
    <div class='o-col-oneWhole _md-o-col-threeQuarters _lg-o-col-twoThirds'>
      <h1 class='s-h2 s-red-500 u-mt0 u-mb4 u-align-center'>
        Colophon
      </h1>

      <p>
        First Things First 2014 is a project lead by <a href='https://colepeters.com'>Cole Peters</a>.
      </p>
      <p>
        The manifesto was co-written and edited by <a href='http://chris-armstrong.com/'>Chris Armstrong</a>, <a href='https://ar.al/'>Aral Balkan</a>, <a href='http://www.jon.gold/'>Jon Gold</a>, <a href='http://laurakalbag.com/'>Laura Kalbag</a>, <a href='http://andremooij.info/'>André Mooij</a>, and <a href='https://twitter.com/annatricity'>Anna Sobolewska</a>.
      </p>
      <p>
        Back-end development for the original website was done by <a href='http://www.digitaaldier.nl/'>Steven Langbroek</a>.
      </p>
      <p>
        Early reportage for the project was written by <a href='http://dubdog.co.uk/'>Nigel Ball</a>. Early promotional support was provided by <a href='http://designandbanter.com/'>Design + Banter</a>.
      </p>

    </div>
  </div>
</div>
</section>
