<div class='s-bg-coolGray-300 u-pt3 u-pb3 u-align-center'>
  <div class='o-container'>
    <div class='o-row o-row--center'>
      <div class='o-col-oneWhole _md-o-col-threeQuarters _lg-o-col-twoThirds'>
        <p>
          <small>
            First Things First 2014 by Cole Peters et al. is licensed under a <a href='http://creativecommons.org/licenses/by-nc-sa/4.0/'>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
