<section>
  <div class='o-container'>
    <div class='o-row o-row--center'>
      <div class='o-col-oneWhole _md-o-col-threeQuarters _lg-o-col-twoThirds'>
        <h1 class='s-h2 s-red-500 u-mt0 u-mb4 u-align-center'>
          Further reading
        </h1>

        <h2 class='s-h3 u-align-center'>
          Press coverage
        </h2>

        <p>
          First Things First 2014 has been covered in
          <a href='http://www.eyemagazine.com/blog/post/design-for-life'>Eye</a>,
          <a href='https://www.designweek.co.uk/updating-the-first-things-first-manifesto-for-2014/'>Design Week</a>,
          <a href='http://www.creativebloq.com/netmag/cole-peters-updating-first-things-first-manifesto-31410943'>Creative Bloq</a>,
          <a href='http://www.fastcoexist.com/3027510/the-first-things-first-manifesto-pledges-the-tech-industry-to-create-meaningful-work'>FastCo.Exist</a>,
          <a href='http://www.ico-d.org/connect/index/post/1933.php'>the International Council of Design</a>,
          <a href='http://www.occupy.com/article/first-things-first-2014-tech-manifesto-meaningful-work?qt-article_tabs=1'>Occupy.com</a>,
          <a href='http://writing.attending.io/pieces/minimum-viable-pundit-design-banter-10'>Attending.io</a>, and
          <a href='http://www.monografica.org/Noticias/9876'>Monográfica</a> (in Spanish).
        </p>
        <p>
          Additionally, the blog post in which First Things First 2014 was announced was <a href='https://web.archive.org/web/20141114051424/https://www.adbusters.org/blogs/why-i-am-renewing-first-things-first-manifesto.html'>republished by Adbusters</a>, who were instrumental in launching the 2000-edition of the manifesto.
        </p>

        <h2 class='s-h3 u-mt4 u-align-center'>
          On the history of the manifesto
        </h2>

        <ul class='u-listReset u-pl0'>
          <li class='u-mb2'><a href='http://kengarland.co.uk/KG-published-writing/first-things-first/' rel='nofollow external'>First Things First</a> — the original manifesto, penned by Ken Garland and published in 1964.</li>
          <li class='u-mb2'><a href='http://www.eyemagazine.com/feature/article/first-things-first-manifesto-2000' rel='nofollow external'>First Things First 2000</a> — the first renewal of First Things First, published in 1999 by Adbusters, Eye Magazine, Emigre, and others.</li>
          <li class='u-mb2'><a href='First Things First Revisited' rel='nofollow external'>First Things First Revisited</a> — Rick Poynor in Emigre, 1999.</li>
          <li><a href='http://frontdeskapparatus.com/files/015.pdf' rel='nofollow external'>Metahaven’s “White Night Before A Manifesto”</a> — page 16, onward, addresses First Things First 2000 specifically (PDF).</li>
        </ul>
      </div>
    </div>
  </div>
</section>
