<div class='u-px1 u-align-center u-pt5 u-pb5 s-bg-coolGray-100'>
  <h1 class='u-relative u-z1 u-mt0 s-red-500' style='line-height: 1.25;'>
    First Things First
    <span class='u-absolute u-zn1 s-coolGray-700' style='left: 0; right: 0; top: 0.625em;'>
      2014
    </span>
  </h1>
  <p class='u-relative s-nearBlack' style='top: 1em;'>
    <em>A manifesto.</em>
  </p>
</div>
