/*
 * First Things First 2014
 * 
 */

/* Gemma */
@import '../../node_modules/gemma/src/gemma.css';

/* FTF styles */
body {
  font-family: Lora, Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.a-dropcap {
  font-family: 'Playfair Display', Georgia, serif;
}

h1 {
  letter-spacing: -0.03em;
}

.a-dropcap {
  float: left;
  line-height: 0.8;
  font-size: 5em;
}

@media (--screen-md) {
  .a-dropcap {
    font-size: 7.125em;
    line-height: 0.75;
  }
}

.a-hr {
  max-width: 12.5em;
  height: 0px;
  border: 1px solid var(--color-red-500);
}
