/*
 * First Things First 2014
 * 
 */

@import 'gemma/src/gemma.css';

/* FTF styles */
body {
  font-family: Lora, Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.a-dropcap {
  font-family: 'Playfair Display', Georgia, serif;
}

h1 {
  letter-spacing: -0.03em;
}

.a-dropcap {
  float: left;
  line-height: 0.8;
  font-size: 5em;
}

@media (--screen-md) {
  .a-dropcap {
    font-size: 7.125em;
    line-height: 0.75;
  }
}

.a-hr {
  max-width: 12.5em;
  height: 0px;
  border: 1px solid var(--color-red-500);
}

.a-columns {
  columns: 2;
}

@media (--screen-lg) {
  .a-columns {
    columns: 4;
  }
}

@media (--screen-xl) {
  .a-columns {
    columns: 5;
  }
}

.a-signatories {
  max-height: 1700em;
}

.a-signatories.is-truncated {
  max-height: 12em;
  overflow: hidden;
  position: relative;
}

.a-signatories.is-truncated:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0) 100%);
  pointer-events: none;
}

.a-toggleContainer {
  display: none;
}

.a-toggleSignatories {
  appearance: none;
  color: var(--color-cyan-700);
  border: 1px solid var(--color-cyan-700);
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 0 transparent;
  transition: 0.2s ease;
  font-family: -apple-system, BlankMacSystemFont, Roboto, 'Segoe UI', Avenir, sans-serif;
}

.a-toggleSignatories:hover {
  border-color: var(--color-cyan-500);
  color: var(--color-cyan-500);
}

.a-toggleSignatories:focus {
  outline: transparent;
}
